body {
  background: #AEE6FA;
  background-repeat: repeat-Y;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}

.btn {
  width: 300px;
  height: 300px;
  background-color: transparent;
  padding: 15px 32px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  position: absolute;
  border-radius: 20%;
  top: 32vh;
  border: 10px solid transparent;
  position: absolute;
  text-indent: -4000px;
}

.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.rock {
  left: 90px;
}

.paper {
  right: 90px;
}

img {
  position: absolute;
  width: 300px;
  height: 300px;
  top:10px;
  left: 10px;
}

img:hover {
  cursor: pointer;
}

#contact {
  background-color: rgba(0, 159, 126, 0.5);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  position: absolute;
  top: 15px;
  right: 50px;
  border-radius: 20%;
}

#contact:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

a {
  text-decoration: none;
  color: black;
  border-radius: 25%;

}

@media screen and (max-width: 1400px) and (min-width: 600px) {
  .btn {
    width: 60px;
    height: 60px;
    position: absolute;
  }

  img {
    width: 80px;
    height: 80px;
    position: absolute;
  }
}


@media screen and (max-width: 600px) {
  .btn {
    width: 40px;
    height: 40px;
    position: absolute;
  }

  img {
    width: 60px;
    height: 60px;
    position: absolute;
  }
}

@media only screen
  and (min-device-width: 330px)
  and (max-device-width: 450px)
  and (-webkit-min-device-pixel-ratio: 1) {

  .rock {
    top: 28rem;
    left: 35%;
  }

  .paper {
    top: 6rem;
    left: 35%;
  }

  .scissors {
    top: 17rem;
    left: 35%;
  }

}
